.custom-success-btn
{
    background-color: #4fa846 !important;
    border-color:#4fa846 !important;
    font-size: 14px !important;
    padding: 0.4rem 1.2em !important;
    box-shadow:none !important;
}

.theme-white .nav-pills .nav-link.active
{
    background-color: #4fa846 !important;
}

.badge.badge-white
{
    color: #357642 !important;
}
